
/* generic properties */

:root{ 
      /*whole HTML*; whatever variables are defined over here , they are going to be present throughout the whole HTML page*/

    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --dark-blue: #00008B;
    --card-color: #c0dbea;
}

*{
    margin: 0;  /*to remove all the existing margins & paddings and later give individual values to different elemnts*/
    padding: 0;
    box-sizing: border-box; /* see 10:00 */
    border: none;
    outline: none;
    text-decoration: none;  /* removing underlines from anchor tags */
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in; /* transition property applied to all values + time + type of transition smooth animation*/
}

html{
    font-size: 62.5%;  /*initially set by convention, rounding off to 10px*/
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}

.btn{
    display: inline-block;  /*margin-top not getting effect in anchor tag of button as anchor element by default is in-line element, therefore it doesn't take account top & bottom margin...That is why display is made to inline*/
    text-align:center;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 0.2rem;

}

.title{
    text-shadow: 2px 2px 0 var(--card-color), /*horizontal right vertical bottom blur*/ -2px -2px 0 var(--card-color),/*left top*/ -2px 2px 0 var(--card-color) /*for diaogonal*/, 2px -2px 0 var(--card-color); /*diagonal*/
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.title span{
    color:var(--main-color);
}

.header {
    background-color: var(--nav-color);
    display: flex;   /* making it at the center*/
    justify-content: space-between;  /*space between logo | menu | icons */
    align-items: center;
    padding:1.5rem 7%; /* (7% is dependent on the actual space occupied by the browser) , to put some space betwen image and browser  top-bottom - 1.5rem, left-right - 7%  (rem=root element  1/2 size of root elemnt-HTML size is assigned to heading of this element- header 1rem=10px, 1.5rem=15px) */
    position: fixed; /* nav bar will remain fix while scrolling*/
    top:0;
    left:0;
    right:0;
    height: 16vh;
    /*z-index: 1000; highest value assigned ensures this remains at the top*/

}

.header .logo img{
    height: 10rem;
    border-radius: 50%;
}

.header .navbar a{
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1rem;  /*up-down left-right*/
    

}

.header .navbar a:hover{
    color:var(--black);
    border-top: 0.3rem solid var(--dark-blue);
    border-bottom: 0.3rem solid var(--dark-blue);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.header .icons{
    display: flex;

    
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem; /*to put some space b/t elements*/

}

.header .icons div:hover{
    color: var(--dark-blue);
}


.header .icons .menu-icon{
    display: none;          /*for hiding hamburger button*/
}

/*search - box  bringin the search box slight below navigation bar*/ 
.header .search-form {
    display: flex;
    align-items: center;
    position:absolute;   /*header is the first element which has it's position fixed, the default value of each element is positioned static , now the search -form will look header as its parent- it will try to position itself with respect to parent*/
    top: 115%; /*for the search-form the ending part of header is 100% it will start exactly where header section ends*/
    right: -100%;  /*search icon disappears but still there but not in the visible space as x-overflow is hidden..somewhere outside of browser space*/
    width: 45rem;
    height: 4.5rem;
    background-color: #fff;

}

.header .search-form.active{  /*this .active class will change it from -100% to0 7% --- A click event should be defined in JS auch that when we cllick on it the search bar appears*/
    right: 7%;                   
}

.header .search-form input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color:var(--black);
    text-transform: none;
}

.header .search-form label{
   
    color: var(--black);
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;

}

.header .search-form label:hover{
    color: var(--main-color);
}

/*cart section*/

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    background-color: #fff;
    height: 80vh;
    border:solid 1px black;
    padding: 0.8rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item{
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    /*border: solid 1px black;*/
    position: relative; /*with respect to where it should actually be*/
    gap: 1rem;
}

.header .cart-items-container a{
    width: 100%;
}

.header .cart-items-container .cart-item img{
    width: 7rem;
}

.header .cart-items-container .cart-item span{
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 2rem;
    color:var(--black);
    cursor: pointer;
}

.header .cart-items-container .cart-item span:hover{
    color:red;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.5rem;
    color:var(--black);
    padding-bottom: 0.8rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.3rem;
    color:var(--main-color);

}


/*home section*/

.home{

    display:flex;
    align-items: center;
    min-height: 84vh;
    margin-top: 16vh;
    color: var();
    background-color: #00c9a5;
    background-image: url("Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

.home .hero{
    width:60rem;  /*60rem = 600pix*/
}

.home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:transparent;
    background: #000;
    background-image: url(Images/tag-bg5.jpg);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text; /*if any property is not working then use the prefix -webkit- for chrome browser*/



}

.home .hero p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: #000;
}

/*Cakes section*/

.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));/*write explanation here*/
    gap: 1.5rem;
}

.cakes .wrapper .cake-card{
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;

}
.cakes .wrapper .cake-card img{
    width: 100%;
}

.cakes .wrapper .cake-card h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.cakes .wrapper .cake-card .price{
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}
/*.cakes .wrapper .cake-card .price .span{
    color: #fff;
    font-size: 1.rem;
    text-decoration: line-through;
}*/


