
/* generic properties */

:root{ 
      /*whole HTML*; whatever variables are defined over here , they are going to be present throughout the whole HTML page*/

    --main-color: #68BBE3; /*#739bd4; /*#00c9a5*/;
    --nav-color:#68BBE3; /*#739bd4; /*#00afa5*/;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --dark-blue: #00008B;
    --card-color: #c0dbea;
    --border: .1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

*{
    margin: 0;  /*to remove all the existing margins & paddings and later give individual values to different elemnts*/
    padding: 0;
    box-sizing: border-box; /* see 10:00 */
    border: none;
    outline: none;
    text-decoration: none;  /* removing underlines from anchor tags */
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in; /* transition property applied to all values + time + type of transition smooth animation*/
    scroll-behavior:smooth;
    scroll-padding-top:16vh; /*given the same space as the nav bar is occupying*/
}

html{
    font-size: 62.5%;  /*initially set by convention, rounding off to 10px*/
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}

section{
    padding: 2rem 7%;
}

.btn{
    display: inline-block;  /*margin-top not getting effect in anchor tag of button as anchor element by default is in-line element, therefore it doesn't take account top & bottom margin...That is why display is made to inline*/
    text-align:center;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 0.2rem;

}

h1{
    text-shadow: 2px 2px 0 var(--card-color), /*horizontal right vertical bottom blur*/ -2px -2px 0 var(--card-color),/*left top*/ -2px 2px 0 var(--card-color) /*for diaogonal*/, 2px -2px 0 var(--card-color); /*diagonal*/
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
}

span{
    color:var(--main-color);
}

.header {
    background-color: var(--nav-color);
    display: flex;   /* making it at the center*/
    justify-content: space-between;  /*space between logo | menu | icons */
    align-items: center;
    padding:1.5rem 7%; /* (7% is dependent on the actual space occupied by the browser) , to put some space betwen image and browser  top-bottom - 1.5rem, left-right - 7%  (rem=root element  1/2 size of root elemnt-HTML size is assigned to heading of this element- header 1rem=10px, 1.5rem=15px) */
    position: sticky; /* nav bar will remain fix while scrolling*/
    top:0;
    left:0;
    right:0;
    height: 16vh;
    /*z-index: 1000; highest value assigned ensures this remains at the top*/

}

.header .logo img{
    height: 10rem;
    border-radius: 50%;
}

.header .navbar a{
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1rem;  /*up-down left-right*/
    

}

.header .navbar a:hover{
    color:var(--black);
    border-top: 0.3rem solid var(--dark-blue);
    border-bottom: 0.3rem solid var(--dark-blue);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.header .icons{
    display: flex;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem; /*to put some space b/t elements*/

}

.header .icons div:hover{
    color: var(--dark-blue);
}


.header .icons .menu-icon{
    display: none;          /*for hiding hamburger button*/
}

/*search - box  bringin the search box slight below navigation bar*/ 
.header .search-form {
    display: flex;
    align-items: center;
    position:absolute;   /*header is the first element which has it's position fixed, the default value of each element is positioned static , now the search -form will look header as its parent- it will try to position itself with respect to parent*/
    top: 115%; /*for the search-form the ending part of header is 100% it will start exactly where header section ends*/
    right: -100%;  /*search icon disappears but still there but not in the visible space as x-overflow is hidden..somewhere outside of browser space*/
    width: 45rem;
    height: 4.5rem;
    background-color: #fff;

}

.header .search-form.active{  /*this .active class will change it from -100% to0 7% --- A click event should be defined in JS auch that when we cllick on it the search bar appears*/
    right: 7%;                   
}

.header .search-form input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color:var(--black);
    text-transform: none;
}

.header .search-form label{
   
    color: var(--black);
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;

}

.header .search-form label:hover{
    color: var(--main-color);
}

/*cart section*/

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    background-color: #fff;
    height: 80vh;
    border:solid 1px black;
    padding: 0.8rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item{
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    /*border: solid 1px black;*/
    position: relative; /*with respect to where it should actually be*/
    gap: 1rem;
}

.header .cart-items-container a{
    width: 100%;
}

.header .cart-items-container .cart-item img{
    width: 7rem;
}

.header .cart-items-container .cart-item span{
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 2rem;
    color:var(--black);
    cursor: pointer;
}

.header .cart-items-container .cart-item span:hover{
    color:red;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.5rem;
    color:var(--black);
    padding-bottom: 0.8rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.3rem;
    color:var(--main-color);

}


/*home section*/

.home{

    display:flex;
    align-items: center;
    min-height: 84vh;
    /*margin-top: 16vh;*/
    color: var(--black);
    background-color: #68bbe3; /*#00c9a5;*/
    background-image: url("Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

.home .hero{
    max-width:600px;
    width: 100%; 
}

.home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:transparent;
    background: #000;
    background-image: url(Images/tag-bg5.jpg);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text; /*if any property is not working then use the prefix -webkit- for chrome browser*/



}

.home .hero p{
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: #000;
}

/*Cakes section*/

.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));/*write explanation here*/
    gap: 1.5rem;
}

.cakes .wrapper .cake-card{
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;

}
.cakes .wrapper .cake-card:hover{
    transform: scaleY(1.1); /*to remain fixed at top one end*/
    background-color: var(--black);
}
.cakes .wrapper .cake-card:hover *:not(a){
    color: var(--main-color);
}

.cakes .wrapper .cake-card img{
    width: 100%;
}

.cakes .wrapper .cake-card h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.cakes .wrapper .cake-card .price{
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}
.cakes .wrapper .cake-card .price .span{
    color: #fff;
    font-size: 1.rem;
    text-decoration: line-through;
}

/* Cup cakes section*/

.cheese-cakes .wrapper .cheese-card{
    text-align: center;
    background-color: #eac7c7;
    padding: 2rem;
    border: var(--border);
}

.cheese-cakes .wrapper .cheese-card:hover{
    box-shadow: var(--box-shadow);
}

.cheese-cakes .wrapper .cheese-card .icons a{
    border:var(--border);
    height: 5rem;
    width: 5rem;
    color: #fff;
    font-size: 2rem;
    line-height: 5rem;
    margin: 0.3rem; /*only applied to left and right as its anchor tag*/
}
.cheese-cakes .wrapper .cheese-card .icons a:hover{
    background-color: var(--main-color);
    box-shadow:var(--box-shadow);
}
.cheese-cakes .wrapper .cheese-card .img{
    padding: 2.5rem 0;
}
.cheese-cakes .wrapper .cheese-card .img img{
    padding: 2.5rem 0;
    /*height: 30rem;*/
    width:100%
}

.cheese-cakes .wrapper .cheese-card .icons a:hover{
    background-color: var(--main-color);
    box-shadow:var(--box-shadow);
}
.cheese-cakes .wrapper .cheese-card .content h3{
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem 0;
}
.cheese-cakes .wrapper .cheese-card .content .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}
.cheese-cakes .wrapper .cheese-card .content .stars{
    padding: 1.8rem;
}
.cheese-cakes .wrapper .cheese-card .content .price{
    color:white;
    font-size: 1.8rem;
}
.cheese-cakes .wrapper .cheese-card .content .price span{
    color:white;
    font-size: 1.4rem;
    text-decoration:line-through ;
}

/*New Arrivals*/

.new-arrivals .wrapper .card{
    background-color: #ffdca9;
    border: var(--border);
    height:60rem;
    width: 48rem;

}
.new-arrivals .wrapper .card .img{
    width: 100%;
    
}
.new-arrivals .wrapper .card .img img{
    height:100%;
    object-fit: contain;
    width: 100%;
    align-items: center;
    
}

.new-arrivals .wrapper .card .content{
    padding: 2rem;
}
.new-arrivals .wrapper .card .content a:nth-of-type(1){ /*it will loook for any elemnt whose type is anchor within content div () the number of anchor tag*/
    font-size: 2.5rem;
    line-height: 5rem;
    color: black;
}
.new-arrivals .wrapper .card .content p{
    color:grey;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.new-arrivals .wrapper .card .content .btn{
    transform: scale(0);
    
}
.new-arrivals .wrapper .card:hover .content .btn{
    transform: scale(1);
    height: 100%;
}


/*About us*/

.about .container{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap; /*to fit in it will go to next line*/
}
.about .container .img{
    flex: 1 1 45rem; /*flex grow-flex shrink-flex basis  */
}
.about .container .img img{
    width: 100%;
}

.about .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .container .content h3{
    font-size: 3rem;
    color: #fff;
    padding: 1.2 rem 0;
}
.about .container .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 2.2rem;
}

/*testimonial*/

.review .wrapper .review-card{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .wrapper .review-card img{
    height: 4rem;
}
.review .wrapper .review-card p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: gray;
    padding: 2rem 0;
    text-transform:none;
}
.review .wrapper .review-card:hover p{
    color: var(--black);
}
.review .wrapper .review-card .customer{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.review .wrapper .review-card:hover .customer{
    transform: scale(1.1);
}
.review .wrapper .review-card h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #000C66;
    /*text-shadow: 2px 2px 0 var(--card-color), /*horizontal right vertical bottom blur -2px -2px 0 var(--card-color),left top -2px 2px 0 var(--card-color) for diaogonal, 2px -2px 0 var(--card-color); /*diagonal*/
}
.review .wrapper .review-card .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
    padding: 0.8rem 0;
}

/*contat us sesction*/

.contact .contents{
    display:flex;
    background-color: #b9cff0;
    flex-wrap: wrap;
    gap: 1rem;

}
.contact .contents iframe{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
}
.contact .contents form{
    height: 50rem;
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}
.contact .contents form h3{
    text-transform: uppercase;
    color: var(--black);
    font-size: 3.5rem;
    padding: 1rem 0;
}
.contact .contents form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: var(--border);
    border-color:var(--black);
}
.contact .contents form .input-box span{
        color: var(--dark-blue);
        font-size: 2rem;
        padding-left: 2rem; 
}
.contact .contents form .input-box input{
    background-color: #b9cff0;
    text-transform: none;
    color: var(--black);
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}

/*footer section*/

footer{
    background-color: var(--black);
    text-align: center;
}
.footer .social-media{
    padding: 1rem 0;
}
.footer .social-media a {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border:var(--border);
    margin: 0.5rem;
}
.footer .social-media a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
   padding: 0.7rem 2rem;
   color: #fff;
   border:var(--border);
   font-size: 2rem;
}
.footer .links a:hover{
    background-color:var(--main-color) ;
}
.footer .credits{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credits span a{
    color:var(--main-color);
    text-decoration-line: none;
}

/*media query for tablets & small laptops*/
@media (max-width:992px) {     /**/
html {
    font-size: 55%;  /*decrease from 62.5% to 55%*/
}
.header .logo img {
    height: 9rem;
}
}

/*media query for smaller devices*/

@media(max-width:768px){
    section{
        padding: 2rem;
    }
    .header .icons .menu-icon{
      display: inline-block;
    }
    .home{
        background-position: left;
    }
    .home .hero h3{
        font-size: 4.5rem;
    }
    .home .hero p{
        font-size: 1.5rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        background-color: #fff;
        height: 88vh;
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a{
        color:var(--nav-color);
        display:block;
        font-size: 2rem;
        padding: 0.5rem 
    }
    .header .search-form{
        width: 92%;
}
    .header .search-form.active{
        right: 4rem;
    }

}

/*smart phones*/
@media(max-width: 550px){
    html{
        font-size: 50%;
    }
}